html {
    overflow-y: scroll;
}

body {
    display: block;
    background-color: #2B0F01;
	color: #FFFF00;
}

canvas {
    padding: 0;
    margin: auto;
    border-style: outset;
    border-color: #aaaaaa;
    border-width: 3px;
    display: block;
	background-color: #CCFFFC;
}

a {
	color: hotpink;
	font-size: 22px;
    text-decoration: none;
}

#mainContainer { 
    display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-grow: 1;
	justify-content: space-around;
	flex-direction: column;
}

.objectName {
	padding-top: 8px;
	padding-bottom: 8px;
}

#selectedAnimation {
	font-size: 20px;
}

.objectNameLink {
	border: none;
	padding: none;
	background-color: transparent;
	color: hotpink;
	font-size: 22px;
	text-decoration: none;
}

#fileLoaderButton, #fileSaver {
	font-size: 30px;
}

#addObjectBox {
	margin-top: 10px;
	font-size: 20px;
	height: 30px;
	width: 200px;
}

#middleBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	border-style: outset;
    border-width: 4px;
	border-color: #CC6600;
	margin: 40px;
}

#objectList {
	border-style: outset;
    border-color: #ffff77;
    border-width: 2px;
	margin: 20px;
	margin-right: 10px;
	padding: 40px;
	background-color: rgba(255, 250, 105, .15);
	overflow-y: auto;
}

/* MIDDLE BOX!!!!!!!! */
#objectWindow {
	border-style: outset;
    border-color: #6666ff;
    border-width: 2px;
	margin: 20px;
	margin-left: 10px;
	padding: 10px;
	background-color: rgba(174, 173, 255, .5);
	overflow-y: auto;
}

.boxSeparator {
	display: flex;
	border-style: solid;
    border-color: black;
    border-width: 1px;
	padding: 10px;
}

#box1 {
	justify-content: center;
}

#animSettings1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
}

.margting {
	margin-top: 8px;
	margin-bottom: 8px;
}

#itemTitle {
	color: hotpink;
	font-size: 40px;
	font-weight: bold;
}

#itemRemoveButton {
	font-size:25px;
	position: absolute;
	right:20px;
	top:20px;
}

#animRemoveButton {
	font-size:25px;
	position: absolute;
	right:20px;
	top:80px;
}
/* MIDDLE BOX!!!!!!!! */

.wrapper, html, body {
    height: 100%;
    margin: 0;
}

#loadDiv { 
	background-color: #E5A000;
}

#containerPlayers {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

#chatTextBox {
    position:absolute;
    bottom: 0; 
    right: 0;
    margin-right: 54px;
    margin-bottom: 10px;
}

[hidden] {
    display: none !important;
}

.playerBox {
    height: 72px;
    width: 96px;
    display: flex;
    #flex-grow: 1;
    flex-basis: 160px;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center; 
    
    border-style: outset;
    border-color: #add8e6;
    text-overflow: clip;
    white-space: wrap;
    overflow: hidden;
    background-color: #add8e6;
}

.playersAlive {
    font-size: 20px;
    color: #FF0000;
}

.nickname {
    font-family: World of Water, Georgia, serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: #550000;
}

.statistic {
    text-align: center;
    font-family: World of Water, "Trebuchet MS", Helvetica, sans-serif;
    font-size: 17px;
    color: #005500;
}

.checkered {
    background-image:
      -moz-linear-gradient(45deg, #bde8f6 25%, transparent 25%), 
      -moz-linear-gradient(-45deg, #bde8f6 25%, transparent 25%),
      -moz-linear-gradient(45deg, transparent 75%, #bde8f6 75%),
      -moz-linear-gradient(-45deg, transparent 75%, #bde8f6 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #bde8f6), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #bde8f6), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #bde8f6)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #bde8f6));

    -moz-background-size:20px 20px;
    background-size:20px 20px;
    -webkit-background-size:20px 20px;
    
    background-position:0 0, 50px 0, 50px -50px, 0px 50px;
}

@font-face {
    font-family: "World of Water";
    src: url('fonts/world-of-water.ttf');
}

input[type=checkbox] {
  transform: scale(2);
}